@import './base';

@import './components/buttons';

@import './components/carousel-button';

@import './components/chef-card';

@import './components/format-card';

@import './components/input';

@import './components/links.scss';

@import './components/pagination';


/* .button:disabled {
    color: gray;
    background-color: lightgrey;
    border-color: currentColor;
    cursor: not-allowed;
} */

@import './layouts/advantages-section';

@import './layouts/chefs-section';

@import './layouts/contact-section';

@import './layouts/container';

@import './layouts/footer';

@import './layouts/formats-section';

@import './layouts/form-terms';

@import './layouts/header';

@import './layouts/hero-section';

@import './layouts/mobile-menu';

@import './layouts/modal';

@import './layouts/section';

@import './layouts/traditions-section';

@import './utils/fonts';

@import './utils/texts.scss';

@import './utils/utils';

@import './utils/variables';

/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: var(--color-secondary-dark);
}

.checkbox-label {
    padding-left: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    content: '';
} */