@use '../utils/variables' as *;

.footer {
    text-align: center;
    padding: 32px 0;
    position: relative;
    background-image: url('../images/footer-background.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        position: absolute;
        width: 180px;
        height: 120px;
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-image: url('../images/decor-bread-small.png');
        content: '';
    }

    &::after {
        position: absolute;
        width: 380px;
        height: 190px;
        right: 0;
        bottom: 0;
        background-image: url('../images/decor-bread-large.png');
        content: '';
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }

    &__nav,
    &__address {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-basis: 50%;
            text-align: left;
        }
    }

    &__logo,
    &__menu {
        flex-grow: 1;
    }

    &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    }

    &__address-link:hover {
        color: var(--color-brand-normal);
    }

    &__address-icon {
        fill: var(--color-primary-light);
        width: 32px;
        height: 32px;
    }

    &__address-icon:hover {
        fill: var(--color-brand-normal)
    }

    &__address-copyright {
        font-size: 14px;
    }
}



