* {
    box-sizing: border-box;
}

.container {
    padding: 30px;
    border: 1px dotted black;  
}

.parent {
    padding: 20px;
    border: 1px dotted black;
}

.item.red  {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: red;
}

.item.green {
    width: 100px;
    height: 100px;
    background-color: green;
}

.item.blue {
    width: 50px;
    height: 50px;
    background-color: blue;
}